.add-edit-submission-wrapper {
  width: 100%; }
  .add-edit-submission-wrapper header {
    margin-bottom: 1em; }

.add-edit-submisison-container {
  display: flex;
  padding: 1em; }

.drop-container {
  align-items: center;
  border: 1px solid #efefef;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  min-height: 150px;
  transition: all 0.25s ease-in-out;
  width: 100%; }
  .drop-container:hover {
    box-shadow: 0 0 1em #ccc;
    cursor: pointer; }

.submission-results {
  min-height: 200px; }
  .submission-results .submission-container {
    display: flex; }
  .submission-results aside {
    margin: 0 0.5em 0.5em 0;
    border: 4px solid transparent; }
    .submission-results aside:hover {
      cursor: pointer; }
    .submission-results aside.featured {
      border: 4px solid #6464ec;
      border-radius: 1em;
      position: relative; }
      .submission-results aside.featured:after {
        content: 'Featured';
        position: absolute;
        top: 0;
        left: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 0.8em;
        color: #6464ec; }
