.slot {
  display: flex;
  flex-direction: column; }
  .slot header {
    display: flex;
    align-items: flex-start; }
    .slot header .slot-image-container {
      padding: 0 1em 1em 0; }
    .slot header .slot-information-container {
      text-align: left; }
  .slot .user-and-progress-container {
    display: flex; }
    .slot .user-and-progress-container .user-progress-card {
      width: 50%; }
