.slot {
  display: flex; }
  .slot header {
    display: flex;
    align-items: flex-start;
    width: 50%; }
    .slot header .slot-image-container {
      padding: 0 1em 1em 0; }
    .slot header .slot-information-container {
      text-align: left; }
  .slot .users-container {
    width: 50%; }
