@import './components/Pages/Slams/Slams.scss';
@import './components/Pages/Home/Home.scss';
@import './components/Molecules/Slam/Slam.scss';
@import './components/Molecules/Slot/Slot.scss';
@import './components/Molecules/UserAndProgress/UserAndProgress.scss';
@import './components/Organisms/UsersAndProgress/UsersAndProgress.scss';
@import './components/Pages/Slam/Slam.scss';

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
