.posts-container > div {
  box-sizing: border-box;
  margin-bottom: 16px; }

.ui.cards .card.slam {
  padding: 1rem;
  text-align: left; }

.slot {
  display: flex;
  flex-direction: column; }
  .slot header {
    display: flex;
    align-items: flex-start; }
    .slot header .slot-image-container {
      padding: 0 1em 1em 0; }
    .slot header .slot-information-container {
      text-align: left; }

.slot-container {
  display: flex; }
  .slot-container .item.slot {
    padding: 2em; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
